#!/bin/sh
#Command example: "cvt 1920x1000 60" in terminal will dive you the modeline to paste below.
xrandr --setprovideroutputsource NVIDIA-GO modesetting
xrandr --auto
xrandr --newmode "1784x999_60.00"  147.50  1784 1896 2080 2376  999 1002 1012 1037 -hsync +vsync
xrandr --addmode eDP-1 1784x999_60.00
xrandr --output eDP-1 --mode 1784x999_60.00
