[Desktop Entry]
Type=Action
Name[en_US]=Open In Xfce4-Terminal
Name[en]=Open In Xfce4-Terminal
Name[C]=Open In Xfce4-Terminal
Icon[en_US]=xfce-terminal
Icon[en]=xfce-terminal
Icon[C]=xfce-terminal
TargetLocation=true
TargetToolbar=true
ToolbarLabel[en_US]=Open In Xfce4-Terminal
ToolbarLabel[en]=Open In Xfce4-Terminal
ToolbarLabel[C]=Open In Xfce4-Terminal
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Open in terminal
Name[en]=Open in terminal
Name[C]=Open in terminal
Exec=/usr/bin/xfce4-terminal 
Path=%f
